@model BusinessEntities.Employee

@{
    ViewBag.Title = "Details";
}
<section class="contact p-3 pt-0 mb-3 bg-white">
    <div class="section-title">
        <h2>Details</h2>

        <div>
            <h4>Employee</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Surname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Surname)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
</section>
