@model IEnumerable<BusinessEntities.Employee>

@{
    ViewBag.Title = "Index";
}
<section class="contact p-3 pt-0 mb-3 bg-white">
    <div class="section-title">
        <h2>Employee</h2>
        <p>
            @Html.ActionLink("Create New", "Create", "Employee", null, new { @class = "btn btn-primary mb-3" })
        </p>
        <table id="employee-table" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>

@section Scripts{ 
    <script>
        $(function () {
            $("#employee-table").DataTable();
        });
    </script>
}