@model IEnumerable<BusinessEntities.Item>

<table id="item-table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/image/item-image/@item.ImageName?random=@Guid.NewGuid().ToString()" style="max-width: 120px;max-height: 120px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <button type="button" class="btn-primary btn" onclick="MakeAnOrder.Buy()" data-item-id="@item.ItemId" data-price="@item.Price" data-desc="@item.Description">Buy</button>
            </td>
        </tr>
}
    </tbody>
</table>
